// Import the design system
$static-font-path: '/assets/fonts/webfonts';
@import 'node_modules/@salesforce-ux/design-system/scss/index';

// Import the app's partials (filenames starting with a "_")
@import 'header';
@import 'footer';

//
// You can also add styles in this file, like so:
//

// Push down the global navigation below the header using a placeholder element
.app-header-placeholder {
  height: $height-header;
}

// Wrap the prototype in a scrollable container
.app-wrapper {
  overflow: auto;
  position: absolute;
  -webkit-overflow-scrolling: touch;
  top: $height-context-bar + $height-header;
  bottom: 0;
  right: 0;
  left: 0;
}
