# Ignore all hidden dotfiles
.*
!/.github

# Whitelist useful dotfiles
!/.gitignore
!/.editorconfig
!/.eslintrc.yml
!/.stylelintrc.yml
!/.eslintignore

# Ignore modules
/node_modules

# Add a .gitkeep file in an empty
# directory to check it in the repository
!.gitkeep

# Ignore dist directory containing built assets
dist

# Ignore logs
*.log
