$flow_ele_w: 160px;
$flow_ele_node_size: 10px;
/*-------------------------------
  Flow Element global styles
-------------------------------*/
.slds-flow-element{
  display: inline-block;
  text-align: center;
  margin: 20px;
  width: $flow_ele_w;
  height: $flow_ele_w - 60;
  position: relative;
  .slds-icon_container{
    position: relative;
    margin-bottom: 10px;
    transition: transform .15s ease, box-shadow .1s linear ;
    .slds-icon{
      padding: 10px;
    }
  }
  &:hover{
    cursor: move;
    .slds-icon_container{
      -webkit-transform: scale(1.05);
    }
  }
  &.active{
    .slds-icon_container{
      -webkit-transform: scale(1.05);
      box-shadow: 0 0 0 3px white, 0px 0px 6px 2px rgba(0,0,0,.5);
    }
    .flow-del_element{
      display: block;
    }
  }
  p{
    display:block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &.flow_element_name{
      font-weight: $font-weight-bold;
    }
  }
  /*-------------------------------
    Flow Element Specific shape styles
  -------------------------------*/
  &.flow_diamond{
    .slds-icon_container,
    .slds-icon_container .delete_element{
      transform: rotate(45deg);
    }
    .slds-icon_container{
      background-color:$color-background-customer;
      .flow_controls, svg{
        transform: rotate(-45deg);
      }
    }
  }
  /*-------------------------------
    Buttons on the flow element
  -------------------------------*/
  .flow_controls{
    position: absolute;
    top:0; right: 0; bottom: 0; left: 0;
    button{
      position: absolute;
    }
  }
  .flow-del_element{
    display: none;
    left: 75%;
    top: -20px;
    margin-left: -8px;
  }
  .flow-add_element{
    background: white;
    border-radius: 100px;
    margin-left: -8px;
    box-shadow: 0 0 0 2px white;
    bottom: -9px;
    transition: transform .15s ease;
    &:hover{
      box-shadow: 0 0 0 2px white, 0 0 3px 2px rgba(0,0,0,.5);
    }
    &.active{
      transform: rotate(45deg);
      background-color: $color-background-toggle-hover;
      svg{
        fill: white;
      }
    }
  }
}
