//
// Prototype styles (using the Sass CSS preprocessor)
//

//
// First, we're importing the design system from the npm package
//
$static-font-path: '/assets/fonts/webfonts';

@import 'node_modules/@salesforce-ux/design-system/scss/index';

//
// Then, we're importing some styles via Sass partials (filenames starting with a "_")
//
@import 'footer';

//
// We can also add styles directly in this file, like so:
//

// Push down the global navigation below the header using a placeholder element
.app-header-placeholder {
  // A note on Design Tokens in Sass:
  //
  // $height-header is a Sass variable pointing to a Design Token
  // Design tokens are listed at:
  // https://www.lightningdesignsystem.com/design-tokens/
  //
  // This is how you leverage Design Tokens in Sass:
  height: $height-header;
}

// Wrap the prototype in a scrollable container
.app-wrapper {
  overflow: auto;
  position: absolute;
  -webkit-overflow-scrolling: touch;
  top: $height-context-bar + $height-header;
  bottom: 0;
  right: 0;
  left: 0;
}

body {
  background-color: #FEFEFE;
}

/* TYPE */
.site-landing--heading-large {
  font-size: 3.5rem;
  color: #15375F;
}

.site-landing--heading-medium {
  font-size: 1.5rem;
}

.site-landing--heading-small {
  font-size: 1.2rem;
}

p {
  line-height: 1.4rem;
}

.site-landing--small-link {
  font-size: .75rem;
  text-transform: uppercase;
  margin: 1.5rem 0;
}

/* HEADER */
.site-landing--header {
  position: relative;
  text-align: center;
  padding: 18rem;
  background: #b9e2f3; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#b9e2f3, #f5fdff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#b9e2f3, #f5fdff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#b9e2f3, #f5fdff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#b9e2f3, #f5fdff); /* Standard syntax (must be last) */
}

.site-landing--header-cta {
  font-size: 1.1rem;
  padding: .5rem 3rem;
}

.site-landing--header-assets {
  position: relative;
}

.site-landing--logo {
  width: 9.96rem;
  height: auto;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.20);
  left: 0;
  top: .5rem;
  position: fixed;
  z-index: 2;
}

.site-landing--logo-icon {
  padding: 0.6rem 3.5rem;
}

.site-landing--nav {
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.20);
  position: absolute;
  width: 80rem;
  height: auto;
  right: 0;
  top: 42rem;
  z-index: 2;
}

.nav-locked {
  position: fixed;
  top: .5rem;
}

.site-landing--nav-item {
  padding: 1.5rem 1rem;
}

.site-landing--nav-item:first-child {
  padding-left: 2.5rem;
}

.site-landing--nav-item:last-child {
  padding-right: 4rem;
}

/* HEADER IMAGES */
.site-landing--header-top-left-cloud {
  position: absolute;
  top: 4rem;
  left: 6rem;
}

.site-landing--header-lightning-balloon {
  position: absolute;
  top: 5rem;
  left: 41rem;
}

.site-landing--header-top-right-cloud {
  position: absolute;
  top: 6rem;
  right: 6rem;
}

.site-landing--header-hotair-balloon-left {
  position: absolute;
  left: 10rem;
}

.site-landing--header-middle-cloud {
  position: absolute;
  top: 22rem;
  left: 13rem;
}

.site-landing--header-hotair-balloon-right {
  position: absolute;
  top: 15rem;
  right: 11rem;
}

.site-landing--header-geo {
  position: absolute;
  left: 0;
  margin-top: 5rem;
}

.site-landing--header-wires {
  position: absolute;
  left: 0;
  margin-top: 5rem;
}

.site-landing--header-mountain {
  position: absolute;
  left: 20rem;
  top: 32rem;
}

.site-landing--header-bottom-left-cloud {
  position: absolute;
  left: -2rem;
  top: 32rem;
}

.site-landing--header-bottom-right-cloud {
  position: absolute;
  right: -2rem;
  top: 28rem;
}

.site-landing--header-characters {
  position: absolute;
  right: 18rem;
  top: 30rem;
}

/* BODY */
.site-landing--section {
  padding: 5rem 15rem;
}

.site-landing--first-section {
  margin-top: 12rem;
}

.site-landing--isometric-section {
  margin: 6rem 0;
}

.site-landing--section_img_right,
.site-landing--section_img_left {
  position: relative;
  width: 50rem;
}

.site-landing--section_box_right {
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.20);
  padding: 4rem;
  width: 28rem;
  height: auto;
  margin: 13rem 3rem 0 0;
  z-index: 1;
}

.site-landing--section_box_right-2 {
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.20);
  padding: 4rem;
  width: 28rem;
  height: auto;
  margin: -7rem 0 0 -4rem;
  z-index: 1;
}

.site-landing--section_box_left {
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.20);
  padding: 4rem;
  width: 28rem;
  height: auto;
  z-index: 1;
  margin: 13rem 0 0;
}

/* BODY IMAGES */
.site-landing--ally-wire {
  position: absolute;
  top: -2rem;
  right: 9rem;
}

.site-landing--ally-geo {
  position: absolute;
}

.site-landing--ally-lantern {
  position: absolute;
  top: -2.7rem;
  left: 10rem;
}

.site-landing--ally-tree {
  position: absolute;
  top: -0.5rem;
  left: 4rem;
}

.site-landing--living-wires {
  position: absolute;
  left: 15rem;
}

.site-landing--living-geo {
  position: absolute;
  left: 16rem;
  top: -1rem;
}

.site-landing--living-mapcompass {
  position: absolute;
  left: 38rem;
}

.site-landing--platform-geo {
  position: absolute;
  left: -4rem;
  top: 2rem;
}

.site-landing--platform-wires {
  position: absolute;
  left: -6rem;
  top: 2rem;
}

.site-landing--platform-knife {
  position: absolute;
  top: -5rem;
}

.site-landing--motion-geo {
  position: absolute;
  left: 25rem;
}

.site-landing--motion-wires {
  position: absolute;
  left: 15.5rem;
  top: 3rem;
}

.site-landing--motion-fire {
  position: absolute;
  left: 35rem;
  top: -8rem;
}


/* ANIMATIONS */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated-slow {
  animation-duration: 3s;
  animation-fill-mode: both;
}

.infinite {
  animation-iteration-count: infinite;
}

@keyframes bounce-y {
  from, 0%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  50% {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0, -3px, 0);
  }


  100% {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }
}

@keyframes bounce-y-small {
  from, 0%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  50% {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0, -2px, 0);
  }


  100% {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }
}

@keyframes bounce-x {
  from, 0%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  25% {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(-2px, 0, 0);
  }

  50% {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(-5px, 0, 0);
  }

  75% {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(-2px, 0, 0);
  }

  100% {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }
}

.bounce-x {
  animation-name: bounce-x;
  transform-origin: center bottom;
}

.bounce-y {
  animation-name: bounce-y;
  transform-origin: center bottom;
}

.bounce-y-small {
  animation-name: bounce-y-small;
  transform-origin: center bottom;
}
