//
// Prototype styles (using the Sass CSS preprocessor)
//

//
// First, we're importing the design system from the npm package
//
$static-font-path: '/assets/fonts/webfonts';

@import 'node_modules/@salesforce-ux/design-system/scss/index';

//
// Then, we're importing some styles via Sass partials (filenames starting with a "_")
//
@import 'footer';

//
// We can also add styles directly in this file, like so:
//

// Push down the global navigation below the header using a placeholder element
.app-header-placeholder {
  // A note on Design Tokens in Sass:
  //
  // $height-header is a Sass variable pointing to a Design Token
  // Design tokens are listed at:
  // https://www.lightningdesignsystem.com/design-tokens/
  //
  // This is how you leverage Design Tokens in Sass:
  height: $height-header;
}

// Wrap the prototype in a scrollable container
.app-wrapper {
  overflow: auto;
  position: absolute;
  -webkit-overflow-scrolling: touch;
  top: $height-context-bar + $height-header;
  bottom: 0;
  right: 0;
  left: 0;
}
// ------------------------------
//  Select2 Theme
// ------------------------------
.select2-container--SLDS {
  @import "single";
  @import "multiple";

  &.select2-container--open.select2-container--above {
    .select2-selection--single, .select2-selection--multiple {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  &.select2-container--open.select2-container--below {
    .select2-selection--single, .select2-selection--multiple {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .select2-search--dropdown {
    .select2-search__field {
      border: 1px solid #aaa;
    }
  }

  .select2-search--inline {
    .select2-search__field {
      background: transparent;
      border: none;
      outline: 0;
      box-shadow: none;
      -webkit-appearance: textfield;
      height: 28px;
      text-indent: 5px;
    }
  }

  .select2-results > .select2-results__options {
    max-height: 200px;
    overflow-y: auto;
  }

  .select2-results__option {
    &[role=group] {
      padding: 0;
      font-size: .75rem;
    }

    &[aria-disabled=true] {
      color: #999;
    }

    &[aria-selected=true] {
      background-color: #ddd;
    }

    .select2-results__option {
      padding-left: 2em;

      .select2-results__group {
        padding-left: 0;
      }

      .select2-results__option {
        margin-left: -1em;
        padding-left: 2em;

        .select2-results__option {
          margin-left: -2em;
          padding-left: 3em;

          .select2-results__option {
            margin-left: -3em;
            padding-left: 4em;

            .select2-results__option {
              margin-left: -4em;
              padding-left: 5em;

              .select2-results__option {
                margin-left: -5em;
                padding-left: 6em;
              }
            }
          }
        }
      }
    }
  }
  .select2-results__option--highlighted[aria-selected] {
    background-color: #5897fb;
    color: white;
  }

  .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px;
    padding-left: 1em;
    font-size: .75rem;
    line-height: 1.25;
    font-weight: normal;
    color: #54698d;
    text-transform: uppercase;
    letter-spacing: .0625rem;
  }
}

// ==========================
// Builder tools
// ==========================

#builder_canvas{
  background: url('../assets/builder_canvas.png');
  width: 100%;
  height: 900px;
  background-size: 100%;
}
$button_size: 45px;
$top_offset: 60px;
#builder_tools{
  z-index: 200;
  position: fixed;
  left: 0px;
  top: $top_offset;
  ul{
    position: absolute;
    width: $button_size;
    transition: all .3s ease;
    border-radius: 0 3px 4px 0;
    box-shadow: 0px 1px 4px rgba(22 , 45 , 61 , .4);
    li{
      position: absolute;
      transition: top .3s ease-out, opacity .1s linear;
      transition-delay: .2s;
      &:last-child button{
        border-radius: 0px 0 3px 0;
        border-bottom: 1px solid #455B7D;
      }
      button{
        position: relative;
        text-align: center;
        display: block;
        overflow: hidden;
        color: #fff;
        width: $button_size;
        height: $button_size;
        line-height: $button_size;
        border: 1px solid $color-background-alt-inverse;
        border-radius: 0;
        background-color: $color-background-alt-inverse;
        transition: color .3s ease;
        border-right: 1px solid #455B7D;
        &:hover{
          width: auto;
          min-width: $button_size;
          border-radius: 0 3px  3px 0;
          z-index: 10;
          color: #fff;
          border: 1px solid #455B7D;
          background-color: lighten($color-background-alt-inverse, 4%);
          span{
            visibility: visible;
          }
        }
        svg{
          transition: fill .3s ease, transform .2s ease-in-out;
          width: 1.2rem;
          height: 1.2rem;
          display: inline-block;
          fill: #fff;
          position: absolute;
          top: 14px;
          left: 13px;
        }
        span{
          display: inline-block;
          padding-left: 40px;
          font-size: 14px;
          white-space: nowrap;
          visibility: hidden;
          padding-right: 12px;
          text-align: left;
        }
      }
      &#tool_trigger{
        button{
          border-radius: 0px 3px 3px 0;
          z-index: 20;
          border: 1px solid #455B7D;
          border-left: none;
          svg{
            transition: transform .6s cubic-bezier(0.750, -0.310, 0.260, 1.305);
          }
        }
      }
      &.active button,
      &.active button:hover{
        position: relative;
        color: #fff;
        background-color: $color-brand-dark;
        cursor: default;
        width: $button_size;
        border-radius: 0;
        border: none;
        overflow: visible;
        box-shadow: 10px 0 0px 0px $color-brand-dark;
        &:after,
        &:before{
          content: "";
          display: block;
          background: url('../assets/curl.svg');
          top: 0px;
          position: absolute;
          right: -10px;
          width: 10px;
          height: 10px;
        }
        &:after{
          top: 45px;
          transform: scaleY(-1);
        }
        &:before{
          top: -10px;
        }
        span{
          display: none;
        }
        svg{
          fill: #fff;
        }
      }
      &.tool{
        top:0;
        opacity: 0;
      }
    }
  }
  li.active:first-child button,
  li.active:first-child button:hover{
    &:before{
      content: "";
      background-color: $color-brand-dark;
      right: -4px;
      top: 0;
    }
  }
  &.tools_active{
    #tool_trigger{
      button{
        border-bottom: 1px solid rgba(255,255,255,.4);
        border-radius: 0 3px 0 0;
      }
      svg{
        transform: rotate(135deg);
      }
    }
    ul li{
      @for $i from 1 through 5{
        &:nth-child(#{$i}){
          opacity: 1;
          top: ($i *$button_size)-$button_size;
        }
      }
    }
  }
}

aside#tool_panel{
  opacity: 0;
  position: fixed;
  left: 45px;
  top: $top_offset;
  width: 250px;
  max-height: calc(100% - 100px);
  overflow-y: auto;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: inset 5px 0px $color-brand-dark, $shadow-drop-down;
  transition: left .2s ease-out, opacity .15s linear;
  header{
    position: fixed;
    width: 230px;
    background-color: white;
    padding: 1px;
    margin-left: 5px;
    padding: 20px 0 10px 20px;
    transition: box-shadow .2s ease;
    span{
      vertical-align: -15px;
    }
    button{
      float: right;
      margin-right: 10px;
    }
  }
  section{
    padding: 20px;
    margin-top: 50px;
  }
  &.show_panel{
    opacity: 1;
    left: 55px;
  }
}

.scroll_shadow{
  header{
    box-shadow: $shadow-header;
  }
}
