<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Salesforce Lightning Design System Starter Kit</title>
  <meta name="robots" content="noindex, nofollow" />
  <link rel="icon" type="image/png" href="/favicon.png" />

  <!-- Prototype styles -->
  <link rel="stylesheet" href="/styles/index.css" />
</head>
<body>
  <!--
    Base Global Header component
    https://www.lightningdesignsystem.com/components/global-header/
  -->
  <header class="slds-global-header_container"><a href="javascript:void(0);" class="slds-assistive-text slds-assistive-text--focus">Skip to Navigation</a><a href="javascript:void(0);" class="slds-assistive-text slds-assistive-text--focus">Skip to Main Content</a>
    <div class="slds-global-header slds-grid slds-grid--align-spread">
      <div class="slds-global-header__item">
        <div class="slds-global-header__logo">
          <img src="/assets/images/logo-noname.svg" alt="" />
        </div>
      </div>
      <div class="slds-global-header__item slds-global-header__item--search">
        <div class="slds-form-element slds-lookup">
          <label class="slds-assistive-text" for="global-search-01">Search Salesforce</label>
          <div class="slds-form-element__control lookup__search-control slds-input-has-icon slds-input-has-icon--left">
            <svg aria-hidden="true" class="slds-input__icon">
              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
            </svg>
            <input id="global-search-01" class="slds-input slds-lookup__search-input" type="search" placeholder="Search Salesforce" />
          </div>
        </div>
      </div>
      <ul class="slds-global-header__item slds-grid slds-grid--vertical-align-center">
        <li class="slds-dropdown-trigger slds-dropdown-trigger--click slds-m-left--x-small">
          <button class="slds-button" title="person name" aria-haspopup="true">
            <span class="slds-avatar slds-avatar--circle slds-avatar--medium">
              <img src="/assets/images/avatar2.jpg" alt="person name" />
            </span>
          </button>
        </li>
      </ul>
    </div>
  </header>


  <!--
    Placeholder to push the context bar down
  -->
  <div class="app-header-placeholder"></div>

  <!--
    Navigation Bar component
    https://www.lightningdesignsystem.com/components/global-navigation/
  -->
  <div class="slds-context-bar">
    <div class="slds-context-bar__primary slds-context-bar__item_divider-right">
      <div class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_click slds-no-hover">
        <div class="slds-context-bar__icon-action">
          <button class="slds-button slds-icon-waffle_container slds-context-bar__button" title="Description of the icon when needed">
            <span class="slds-icon-waffle">
              <span class="slds-r1"></span>
              <span class="slds-r2"></span>
              <span class="slds-r3"></span>
              <span class="slds-r4"></span>
              <span class="slds-r5"></span>
              <span class="slds-r6"></span>
              <span class="slds-r7"></span>
              <span class="slds-r8"></span>
              <span class="slds-r9"></span>
            </span>
            <span class="slds-assistive-text">Open App Launcher</span>
          </button>
        </div>
        <span class="slds-context-bar__label-action slds-context-bar__app-name">
          <span class="slds-truncate" title="My Dashboard">My Dashboard</span>
        </span>
      </div>
    </div>
    <nav class="slds-context-bar__secondary" role="navigation">
      <ul class="slds-grid">
        <li class="slds-context-bar__item">
          <a href="javascript:void(0);" class="slds-context-bar__label-action" title="Home">
            <span class="slds-truncate">Home</span>
          </a>
        </li>
        <li class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger--hover" aria-haspopup="true">
          <a href="javascript:void(0);" class="slds-context-bar__label-action" title="Groups">
            <span class="slds-truncate">Groups</span>
          </a>
          <div class="slds-context-bar__icon-action slds-p-left--none" tabindex="0">
            <button class="slds-button slds-button--icon slds-context-bar__button" tabindex="-1">
              <svg aria-hidden="true" class="slds-button__icon">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
              </svg>
              <span class="slds-assistive-text">Open menu item submenu</span>
            </button>
          </div>
          <div class="slds-dropdown slds-dropdown--right">
            <ul class="dropdown__list" role="menu">
              <li class="slds-dropdown__item" role="presentation">
                <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                  <span class="slds-truncate">
                    <svg aria-hidden="true" class="slds-icon slds-icon--x-small slds-icon-text-default slds-m-right--x-small">
                      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                    </svg>Main action</span>
                </a>
              </li>
              <li class="slds-dropdown__header slds-has-divider--top-space" role="separator">
                <span class="slds-text-title--caps">Menu header</span>
              </li>
              <li class="slds-dropdown__item" role="presentation">
                <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                  <span class="slds-truncate">Menu Item One</span>
                </a>
              </li>
              <li class="slds-dropdown__item" role="presentation">
                <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                  <span class="slds-truncate">Menu Item Two</span>
                </a>
              </li>
              <li class="slds-dropdown__item" role="presentation">
                <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                  <span class="slds-truncate">Menu Item Three</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="slds-context-bar__item">
          <a href="javascript:void(0);" class="slds-context-bar__label-action" title="Contacts">
            <span class="slds-truncate">Contacts</span>
          </a>
        </li>
        <li class="slds-context-bar__item">
          <a href="javascript:void(0);" class="slds-context-bar__label-action" title="Files">
            <span class="slds-truncate">Files</span>
          </a>
        </li>
        <li class="slds-context-bar__item">
          <a href="javascript:void(0);" class="slds-context-bar__label-action" title="Chatter">
            <span class="slds-truncate">Chatter</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <main class="app-wrapper">
    {% block content %}
      <!-- Content from HTML files gets injected here -->
    {% endblock %}
  </main>
  <script src="/scripts/app.js"></script>
  <script src="/scripts/vendor/svg4everybody.min.js"></script>
  <script>svg4everybody();</script>
</body>
</html>
