<!--
  Templates leverage Nunjucks, a powerful templating language:
  https://mozilla.github.io/nunjucks/

  # Don't want to use Nunjucks?
    It is entirely optional. Feel free to use normal HTML instead!
-->

<!--
  Extend the global template
-->
{% extends "_template.html" %}

<!--
  Page content (gets injected into the template)
-->
{% block content %}

<h2 class="slds-text-align--center slds-text-heading--large slds-m-around--large">
  Hello Amazing TrailheaDX Attendees!
</h2>

{% endblock %}
