<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Salesforce Lightning Design System Starter Kit</title>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <meta name="robots" content="noindex, nofollow" />

  <!-- Prototype styles -->
  <link rel="stylesheet" href="/styles/index.css" />
  <style>
  .communitySetupCmcWorkspaceTile {
    /*DO NOT USE THIS CODE, JUST FOR PRESENTATION*/
    height: 12.5rem;
    display: inline-block;
    width: 290px;
  }
  </style>
</head>
<body>
  <div class="slds-p-around--large slds-text-align--center slds-container--center slds-container--small">
    <h1 class="slds-text-heading--large">CMS Connect app icon</h1><br>
    <a class="slds-text-link--reset slds-m-bottom--small slds-text-align--center slds-theme--shade slds-box--border js-workspace-tile communitySetupCmcWorkspaceTile" href="javascript:void(0);" data-aura-rendered-by="67:1169;a" data-aura-class="communitySetupCmcWorkspaceTile">
    <div class="slds-m-top--large" data-aura-rendered-by="68:1169;a">
      <span class="slds-icon_container slds-icon-custom-custom95" style="padding:.2rem" data-aura-rendered-by="71:1169;a">
        <span data-aura-rendered-by="74:1169;a">
          <svg class="slds-icon slds-icon--large" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#crossfilter"></use>
          </svg>
        </span><!--render facet: 75:1169;a--></span>
    </div>
    <div class="slds-text-heading--small slds-m-top--small js-tile-label" data-aura-rendered-by="76:1169;a"><strong data-aura-rendered-by="77:1169;a">CMS Connect</strong></div><div class="slds-text-body--regular slds-text-color--weak slds-m-top--small slds-m-horizontal--small slds-theme--shade js-tile-description" data-aura-rendered-by="79:1169;a">Configure CMS Connect, create &amp; author dynamic content.</div></a>
  </div>
  <script src="/scripts/app.js"></script>
  <script src="/scripts/svg4everybody.min.js"></script>
  <script>svg4everybody();</script>
</body>
</html>
