<!--
  This example leverages Nunjucks, a powerful templating language:
  https://mozilla.github.io/nunjucks/

  # Don't want to use Nunjucks?
    It is entirely optional. Feel free to use normal HTML instead!
-->

<!--
  Extend the global template
-->
{% extends "_template.html" %}

<!--
  Page content (gets injected into the template)
-->
{% block content %}
{% include "_page-header.html" %}


<!--
  Using the grid to make a 2-column layout
  https://www.lightningdesignsystem.com/components/utilities/grid/
-->
<div class="slds-grid">
  <!--
    First column
  -->
  <div class="slds-col slds-size_2-of-3">
    <div class="slds-p-around_medium slds-card">
      <h2 class="slds-text-heading_medium">Example of injected data</h2>
      <p class="slds-text-body_regular slds-m-vertical_medium">Data shown in this table comes from <a href="https://github.com/salesforce-ux/design-system-starter-kit/blob/master/src/views/data/example.json"><code>views/data/example.json</code></a>.</p>

      <!--
        Data table component
        https://www.lightningdesignsystem.com/components/data-tables/

        Modifier:
        - fixed layout: slds-table_fixed-layout (to make text truncation work within cells)
      -->
      <table class="slds-table slds-table_bordered slds-table_cell-buffer slds-table_fixed-layout">
        <thead>
          <tr class="slds-text-heading_label">
            <!--
              The first cell (Account Name) requires space for long labels,
              so we're manually setting its width to half the size of the table
              using the spacing utility slds-size_1-of-2
            -->
            <th scope="col" class="slds-size_1-of-2">
              <div class="slds-truncate" title="Account Name">Account Name</div>
            </th>
            <th scope="col">
              <div class="slds-truncate" title="Billing State/Province">Billing State/Province</div>
            </th>
            <th scope="col">
              <div class="slds-truncate" title="Phone">Phone</div>
            </th>
            <th scope="col">
              <div class="slds-truncate" title="Type">Type</div>
            </th>
          </tr>
        </thead>
        <tbody>
          <!--
            Looping around values in Nunjucks
            http://mozilla.github.io/nunjucks/templating.html#for
          -->
          {% for account in accounts %}
          <tr>
            <th scope="row" data-label="Account Name">
              <div class="slds-truncate" title="{{ account.name }}"><a href="javascript:void(0);">{{ account.name }}</a></div>
            </th>
            <td data-label="Billing State/Province">
              <div class="slds-truncate" title="{{ account.state }}">{{ account.state }}</div>
            </td>
            <td data-label="Phone">
              <div class="slds-truncate" title="{{ account.phone }}">{{ account.phone }}</div>
            </td>
            <td data-label="Type">
              <div class="slds-truncate" title="{{ account.type }}">{{ account.type }}</div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <!--
    Second column
  -->
  <div class="slds-p-left_small slds-col slds-size_1-of-3">
    <div class="slds-card slds-p-around_medium slds-m-top_none">
        <h2 class="slds-text-heading_medium">Examples of interactions</h2>
      <p class="slds-text-body_regular slds-m-vertical_medium">A few components are interactive, thanks to the JavaScript bundled in the starter kit.</p>
      <h3 class="slds-section-title_divider slds-m-bottom_medium">Tabs</h3>
      <!--
        Tabs component
        https://www.lightningdesignsystem.com/components/tabs/
      -->
      <div class="slds-tabs_default">
        <ul class="slds-tabs_default__nav" role="tablist">
          <li class="slds-tabs_default__item slds-text-heading_label slds-active" title="Item One" role="presentation"><a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-default-1" id="tab-default-1__item">Item One</a></li>
          <li class="slds-tabs_default__item slds-text-heading_label" title="Item Two"
            role="presentation"><a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-2" id="tab-default-2__item">Item Two</a></li>
          <li class="slds-tabs_default__item slds-text-heading_label" title="Item Three"
            role="presentation"><a class="slds-tabs_default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-3" id="tab-default-3__item">Item Three</a></li>
        </ul>
        <div id="tab-default-1" class="slds-tabs_default__content slds-show" role="tabpanel" aria-labelledby="tab-default-1__item">Item One Content</div>
        <div id="tab-default-2" class="slds-tabs_default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-2__item">Item Two Content</div>
        <div id="tab-default-3" class="slds-tabs_default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-3__item">Item Three Content</div>
      </div>

      <h3 class="slds-section-title_divider slds-m-vertical_medium">Dropdown menu</h3>
      Click me:
      <!--
        Dropdown Menu Component
        https://www.lightningdesignsystem.com/components/menus/#flavor-dropdown-dropdown-menu
      -->
      <div class="slds-dropdown-trigger slds-dropdown-trigger_click" aria-expanded="true">
        <button class="slds-button slds-button_icon-border-filled" aria-haspopup="true">
          <svg aria-hidden="true" class="slds-button__icon">
            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
          </svg>
          <span class="slds-assistive-text">Show More</span>
        </button>
        <div class="slds-dropdown slds-dropdown_left">
          <ul class="dropdown__list" role="menu">
            <li class="slds-dropdown__item">
              <a href="javascript:void(0);" role="menuitem">
                <p class="slds-truncate">Menu Item One</p>
              </a>
            </li>
            <li class="slds-dropdown__item">
              <a href="javascript:void(0);" role="menuitem">
                <p class="slds-truncate">Menu Item Two</p>
              </a>
            </li>
            <li class="slds-dropdown__item">
              <a href="javascript:void(0);" role="menuitem">
                <p class="slds-truncate">Menu Item Three</p>
              </a>
            </li>
            <li class="slds-dropdown__item slds-has-divider_top-space">
              <a href="javascript:void(0);" role="menuitem">
                <p class="slds-truncate">Menu Item Four</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="app-footer">Built using the <a href="https://github.com/salesforce-ux/design-system-starter-kit">{{ shared.builtWith }}</a>.</footer>
{% endblock %}
