  <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Salesforce Lightning Design System Starter Kit</title>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <meta name="robots" content="noindex, nofollow" />

  <!-- Prototype styles -->
  <link rel="stylesheet" href="/styles/index.css" />
</head>
<body class="grid-example">
  <div class="slds-grid slds-gutters slds-wrap">
    <div class="slds-col slds-size_1-of-1">
      <span>Header (LWC)</span>
    </div>
    <div class="slds-col slds-grid slds-grid_vertical slds-size_2-of-3">
      <span>Results (LWC)</span>
      <span>Key Metrics (LWC)</span>
      <span>History (Aura)</span>
    </div>
    <div class="slds-col slds-grid slds-grid_vertical slds-size_1-of-3">
      <span>Recommendation (LWC)</span>
      <span>Help (LWC)</span>
    </div>
  </div>

  <script src="/scripts/app.js"></script>
  <script src="/scripts/vendor/svg4everybody.min.js"></script>
  <script>svg4everybody();</script>
</body>
</html>
