<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Salesforce Lightning Design System Starter Kit</title>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <meta name="robots" content="noindex, nofollow" />

  <!-- Prototype styles -->
  <link rel="stylesheet" href="/styles/index.css" />
</head>
<body>
  <div class="slds-p-around--large slds-container--center slds-container--large">
    <h1 class="slds-text-heading--large">
      Welcome to the Design System Starter Kit
    </h1>
    <p class="slds-text-body--regular slds-m-vertical--large">A rapid prototyping environment using the <a href="https://www.lightningdesignsystem.com">Lightning Design System</a>, brought to you by <a href="https://twitter.com/SalesforceUX">Salesforce UX</a>.</p>

    <img src="/assets/img-efficiency.svg" alt="" />

    <h2 class="slds-text-heading--medium slds-m-top--large">Prototypes</h2>
    <a href="/example.html" class="slds-button slds-button--brand">Example Prototype</a>
    <a href="/stateful.html" class="slds-button slds-button--brand">Stateful Buttons</a>
    <a href="/select2.html" class="slds-button slds-button--brand">Smart Suggest</a>
    <a href="/flow_ele.html" class="slds-button slds-button--brand">Flow Elements</a>
    <hr />
  </div>

  <script src="/scripts/app.js"></script>
  <script src="/scripts/vendor/svg4everybody.min.js"></script>
  <script>svg4everybody();</script>
</body>
</html>
