<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Salesforce Lightning Design System Starter Kit</title>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <meta name="robots" content="noindex, nofollow" />

  <!-- Prototype styles -->
  <link rel="stylesheet" href="/styles/index.css" />
</head>
<body>
  <div class="slds-p-around--large slds-container--center slds-container--small">
    <h1 class="slds-text-heading--large">
      Welcome to the Design System Starter Kit
    </h1>
    <p class="slds-text-body--regular slds-m-vertical--large">A rapid prototyping environment using the <a href="https://www.lightningdesignsystem.com">Lightning Design System</a>, brought to you by <a href="https://twitter.com/SalesforceUX">Salesforce UX</a>.</p>

    <img src="/assets/img-efficiency.svg" alt="" />

    <h2 class="slds-text-heading--medium slds-m-top--large">Get Started</h2>
    <p class="slds-text-body--regular slds-m-top--large">Edit files in the <a href="https://github.com/salesforce-ux/design-system-starter-kit/tree/master/src"><code>src</code> directory</a> to start building your prototype.</p>
    <p class="slds-text-body--regular slds-m-top--large">Lightning Design System component documentation and markup available at: <a href="https://www.lightningdesignsystem.com">https://www.lightningdesignsystem.com</a>.</p>
    <hr />

    <h2 class="slds-text-heading--medium slds-m-top--large">TrailheaDX Workshop Tutorial</h2>
    <p class="slds-text-body--regular slds-m-top--large slds-m-bottom--small">Learn how to design in the browser and quickly prototype with the TrailheaDX 2017 tutorial, “Rapid Prototyping with the Design System Starter Kit”.</p>
    <p>
      <a href="https://tdx-starter-kit.herokuapp.com/" class="slds-button slds-button--brand">TrailheaDX Tutorial</a>
      <a href="/workshop.html" class="slds-button slds-button--neutral">DIY Boilerplate</a>
      <a href="/workshop-done.html" class="slds-button slds-button--neutral">Result</a>
    </p>
    <hr />

    <h2 class="slds-text-heading--medium slds-m-top--large">Example Prototype with Data</h2>
    <p class="slds-text-body--regular slds-m-top--large slds-m-bottom--small">We’ve put together a prototype to show you what the starter kit is capable of, have a look!</p>
    <p class="slds-text-body--regular slds-m-vertical--large">Data shown in this example comes from <a href="https://github.com/salesforce-ux/design-system-starter-kit/blob/master/src/views/data/example.json">views/data/example.json</a>. Check out the <a href="https://github.com/salesforce-ux/design-system-starter-kit/blob/master/src/views/data/README.md">README</a> to learn how we are injecting data with "gulp-nunjucks".</p>
    <p><a href="/example.html" class="slds-button slds-button--brand">Example Prototype</a></p>
    <hr />

    <h2 class="slds-text-heading--medium slds-m-top--large">Feedback and Questions</h2>
    <p class="slds-text-body--regular slds-m-top--large slds-m-bottom--small">Ask questions about prototyping using the design system, report issues about the starter kit… <a href="https://github.com/salesforce-ux/design-system-starter-kit/">on the GitHub repository</a>.</p>
    <hr />

    <h2 class="slds-text-heading--medium slds-m-top--large">See Also</h2>
    <p class="slds-text-body--regular slds-m-top--large slds-m-bottom--small">More comfortable designing in <a href="https://www.sketchapp.com/">Sketch</a>? Try the <a href="https://github.com/salesforce-ux/design-system-ui-kit/">Design System UI Kit</a>.</p>

  </div>

  <script src="/scripts/app.js"></script>
  <script src="/scripts/vendor/svg4everybody.min.js"></script>
  <script>svg4everybody();</script>
</body>
</html>
