<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Salesforce Lightning Design System Starter Kit</title>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <meta name="robots" content="noindex, nofollow" />

  <!-- Prototype styles -->
  <link rel="stylesheet" href="/styles/index.css" />
</head>
<body>
  <header class="site-landing--header">
    <h1 class="site-landing--heading-large slds-text-title_caps">Lightning Design System</h1>
    <h2 class="site-landing--heading-small slds-m-top--small">Create the world's best enterprise app experiences</h2>
    <button class="slds-button slds-button_brand site-landing--header-cta slds-m-vertical--x-large">GET STARTED</button>
    <img class="site-landing--header-geo" src="/assets/header-geo.svg" />
    <img class="site-landing--header-wires" src="/assets/header-wires.svg" />
  </header>

  <div class="site-landing--logo">
    <span class="slds-icon_container slds-icon-utility-salesforce1 site-landing--logo-icon" title="Description of icon when needed">
      <svg class="slds-icon slds-icon-text-default slds-icon_large" aria-hidden="true">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#salesforce1"></use>
      </svg>
      <span class="slds-assistive-text">Description of icon</span>
    </span>
  </div>
  <div class="site-landing--nav slds-grid slds-grid_align-spread">
    <div class="site-landing--nav-item">Guidelines</div>
    <div class="site-landing--nav-item">Components</div>
    <div class="site-landing--nav-item">Utilities</div>
    <div class="site-landing--nav-item">Design Tokens</div>
    <div class="site-landing--nav-item">Icons</div>
    <div class="site-landing--nav-item">Help & Support</div>
    <div class="site-landing--nav-item">
      <span class="slds-icon_container slds-icon-utility-search" title="Description of icon when needed">
        <svg class="slds-icon slds-icon-text-default slds-icon_x-small" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
        </svg>
        <span class="slds-assistive-text">Description of icon</span>
      </span>
    </div>
  </div>

  <section class="site-landing--section site-landing--first-section">
    <h2 class="site-landing--heading-medium slds-text-align_center slds-text-title_caps">
      Lorem Ipsum Dolor
    </h2>
    <p class="site-landing--heading-small slds-m-top_medium">The Lightning Design System enables you to build rich enterprise experiences and custom applications with the patterns and established best practices that are native to Salesforce.</p>
    <div class="slds-grid slds-grid_align-spread site-landing--isometric-section">
      <div class="slds-col">
        <p class="site-landing--small-link">Components</p>
        <p class="site-landing--small-link">Utilities</p>
        <p class="site-landing--small-link">Design Tokens</p>
        <p class="site-landing--small-link">Icons</p>
      </div>
      <div class="slds-col">
        <img class="site-landing--isometric-img" src="/assets/isometric_illo.svg" />
      </div>
    </div>
  </section>

  <section class="site-landing--section">
    <div class="site-landing--section_img_left">
      <img class="site-landing--ally-wire" src="/assets/accessible-wire.svg" />
      <img class="site-landing--ally-geo" src="/assets/accessible-shapes.svg" />
      <img class="site-landing--ally-tree" src="/assets/accessible-tree.svg" />
      <img class="site-landing--ally-lantern" src="/assets/accessible-lantern.svg" />
    </div>
    <div class="slds-grid slds-grid_align-end">
      <div class="site-landing--section_box_right">
        <h2 class="site-landing--heading-small slds-text-title_caps">Accessible</h2>
        <p class="site-landing--section_desc slds-m-top--small">The Lightning Design System provides accessible markup which will serve as a foundation for your application development. To build accessible components, you will need to follow the accessibility guidance for our interactive components, including keyboard behavior and the management of ARIA roles and properties.</p>
      </div>
    </div>
  </section>

  <section class="site-landing--section">
    <div class="site-landing--section_img_right">
      <img class="site-landing--living-wires" src="/assets/living-wires.svg" />
      <img class="site-landing--living-geo" src="/assets/living-geo.svg" />
      <img class="site-landing--living-mapcompass" src="/assets/living-mapcompass.svg" />
    </div>
    <div class="slds-grid">
      <div class="site-landing--section_box_left">
        <h2 class="site-landing--heading-small slds-text-title_caps">Living</h2>
        <p class="site-landing--section_desc slds-m-top--small">The Salesforce UX team actively designs, develops, tests, and maintains the design system. As Salesforce pushes out UI changes with every release, the design system stays seamlessly in sync.</p>
      </div>
    </div>
  </section>

  <section class="site-landing--section">
    <div class="site-landing--section_img_left">
      <img class="site-landing--platform-wires" src="/assets/platform-wires.svg" />
      <img class="site-landing--platform-geo" src="/assets/platform-geo.svg" />
      <img class="site-landing--platform-knife" src="/assets/platform-knife.svg" />
    </div>
    <div class="slds-grid slds-grid_align-end">
      <div class="site-landing--section_box_right-2">
        <h2 class="site-landing--heading-small slds-text-title_caps">Platform-Agnostic</h2>
        <p class="site-landing--section_desc slds-m-top--small">You can use our CSS framework with any technology stack you can dream up. Additionally, we provide guidance around how to use it in conjunction with Salesforce technologies such as Lightning, Visualforce, and Heroku.</p>
      </div>
    </div>
  </section>

  <section class="site-landing--section">
    <div class="site-landing--section_img_right">
      <img class="site-landing--motion-wires" src="/assets/motion-wires.svg" />
      <img class="site-landing--motion-geo" src="/assets/motion-geo.svg" />
      <img class="site-landing--motion-fire" src="/assets/motion-fire.svg" />
    </div>
    <div class="slds-grid">
      <div class="site-landing--section_box_left">
        <h2 class="site-landing--heading-small slds-text-title_caps">Motion</h2>
        <p class="site-landing--section_desc slds-m-top--small">The Salesforce UX team actively designs, develops, tests, and maintains the design system. As Salesforce pushes out UI changes with every release, the design system stays seamlessly in sync.</p>
      </div>
    </div>
  </section>

  <script src="/scripts/app.js"></script>
  <script src="/scripts/vendor/svg4everybody.min.js"></script>
  <script>svg4everybody();</script>
</body>
</html>
