<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Popovers Version 2</title>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <meta name="robots" content="noindex, nofollow" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
  <!-- Prototype styles -->
  <link rel="stylesheet" href="/styles/index.css" />
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
  <script>
    $(document).ready(function() {
      $(".slds-flow-element, .flow-add_element").on("click" , function(event){
        event.stopPropagation(); // prevent z-index clicking
        $(this).toggleClass("active");
      })
    });
  </script>
</head>
<body>
  <div class="slds-p-around--large slds-container--center slds-container--medium">
    <h1 class="slds-text-heading--large">Popover Variants V2</h1>
    <hr>
    <h2 class="slds-text-heading--large"><strong>Errors</strong></h2>
    <hr>
    <h3 class="slds-text-heading--medium slds-m-bottom--x-small">With Header  - Current</h3>
    <p>Red text on a white background gets very hard to read. Additionally if we want to extend this pattern to leverage more rich context, and clickable menu items, read background will not work. Links are hard to identify as well.</p>
    <br>
    <div class="slds-popover_container">
      <section class="slds-popover slds-nubbin_left slds-theme--error" role="dialog" aria-labelledby="dialog-heading-id-4" aria-describedby="dialog-body-id-4">
        <button class="slds-button slds-button_icon slds-button_icon-small slds-float_right slds-popover__close slds-button_icon" title="Close dialog">
          <svg class="slds-button__icon" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close" />
          </svg>
          <span class="slds-assistive-text">Close dialog</span>
        </button>
        <header class="slds-popover__header">
          <h2 id="dialog-heading-id-4" class="slds-text-heading_small">Please resolve errors</h2>
        </header>
        <div class="slds-popover__body" id="dialog-body-id-4">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="#" tabindex="-1">Read More</a></p>
        </div>
      </section>
    </div>
    <hr>
    <h3 class="slds-text-heading--medium slds-m-bottom--x-small">Nubbin + Sliver</h3>
    <p>Uses a gradient to create the left nubbin blend effect with sliver</p>
    <br>
    <section class="slds-popover slds-nubbin_left popover-error" role="dialog" aria-labelledby="dialog-heading-id-4" aria-describedby="dialog-body-id-4">
      <button class="slds-button slds-button_icon slds-button_icon-small slds-float_right slds-popover__close slds-button_icon" title="Close dialog">
        <svg class="slds-button__icon" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close" />
        </svg>
        <span class="slds-assistive-text">Close dialog</span>
      </button>
      <header class="slds-popover__header">
        <h2 id="dialog-heading-id-4" class="slds-text-heading_small">Please resolve errors</h2>
      </header>
      <div class="slds-popover__body" id="dialog-body-id-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="#" tabindex="-1">Read More</a></p>
      </div>
    </section>

    <hr>
    <h3 class="slds-text-heading--medium slds-m-bottom--x-small">Nubbin + Sliver Thick</h3>
    <p>Thick inset shadow on same side as nubbin encompases full nubbin color</p>
    <br>
    <section class="slds-popover slds-nubbin_left popover-error-thick" role="dialog" aria-labelledby="dialog-heading-id-4" aria-describedby="dialog-body-id-4">
      <button class="slds-button slds-button_icon slds-button_icon-small slds-float_right slds-popover__close slds-button_icon" title="Close dialog">
        <svg class="slds-button__icon" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close" />
        </svg>
        <span class="slds-assistive-text">Close dialog</span>
      </button>
      <header class="slds-popover__header">
        <h2 id="dialog-heading-id-4" class="slds-text-heading_small">Please resolve errors</h2>
      </header>
      <div class="slds-popover__body" id="dialog-body-id-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="#" tabindex="-1">Read More</a></p>
      </div>
    </section>

    <hr>
    <h3 class="slds-text-heading--medium slds-m-bottom--x-small">Sliver Opposed</h3>
    <p>Thick inset shadow on same side as nubbin encompases full nubbin color</p>
    <br>
    <section class="slds-popover slds-nubbin_left popover-error-opposed" role="dialog" aria-labelledby="dialog-heading-id-4" aria-describedby="dialog-body-id-4">
      <button class="slds-button slds-button_icon slds-button_icon-small slds-float_right slds-popover__close slds-button_icon" title="Close dialog">
        <svg class="slds-button__icon" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close" />
        </svg>
        <span class="slds-assistive-text">Close dialog</span>
      </button>
      <header class="slds-popover__header">
        <h2 id="dialog-heading-id-4" class="slds-text-heading_small">Please resolve errors</h2>
      </header>
      <div class="slds-popover__body" id="dialog-body-id-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="#" tabindex="-1">Read More</a></p>
      </div>
    </section>

    <hr>
    <h3 class="slds-text-heading--medium slds-m-bottom--x-small">Header Styled</h3>
    <p>Uses Standard SLDS tokens, needs no additional code for nubbins</p>
    <br>
    <section class="slds-popover slds-nubbin_left popover-error-alt" role="dialog" aria-labelledby="dialog-heading-id-4" aria-describedby="dialog-body-id-4">
      <button class="slds-button slds-button_icon slds-button_icon-small slds-float_right slds-popover__close slds-button_icon" title="Close dialog">
        <svg class="slds-button__icon" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close" />
        </svg>
        <span class="slds-assistive-text">Close dialog</span>
      </button>
      <header class="slds-popover__header">
        <h2 id="dialog-heading-id-4" class="slds-text-heading_small">Please resolve errors</h2>
      </header>
      <div class="slds-popover__body" id="dialog-body-id-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="#" tabindex="-1">Read More</a></p>
      </div>
    </section>

    <hr>
    <h3 class="slds-text-heading--medium slds-m-bottom--x-small">Bordered</h3>
    <p>Uses Standard SLDS tokens, needs additional css to add border to nubbin</p>
    <br>
    <section class="slds-popover slds-nubbin_left popover-error-bordered" role="dialog" aria-labelledby="dialog-heading-id-4" aria-describedby="dialog-body-id-4">
      <button class="slds-button slds-button_icon slds-button_icon-small slds-float_right slds-popover__close slds-button_icon" title="Close dialog">
        <svg class="slds-button__icon" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close" />
        </svg>
        <span class="slds-assistive-text">Close dialog</span>
      </button>
      <header class="slds-popover__header">
        <h2 id="dialog-heading-id-4" class="slds-text-heading_small">Please resolve errors</h2>
      </header>
      <div class="slds-popover__body" id="dialog-body-id-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="#" tabindex="-1">Read More</a></p>
      </div>
    </section>
    <hr>
    <h2 class="slds-text-heading--large"><strong>Warnings</strong></h2>
    <hr>
    <h3 class="slds-text-heading--medium slds-m-bottom--x-small">With Header - Current</h3>
    <p>Warnings recieve no visual diffentiation from a normal popover.</p>
    <br>
    <section class="slds-popover slds-nubbin_left slds-theme_warning" role="dialog" aria-labelledby="dialog-heading-id-4" aria-describedby="dialog-body-id-4">
      <button class="slds-button slds-button_icon slds-button_icon-small slds-float_right slds-popover__close slds-button_icon" title="Close dialog">
        <svg class="slds-button__icon" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close" />
        </svg>
        <span class="slds-assistive-text">Close dialog</span>
      </button>
      <header class="slds-popover__header">
        <h2 id="dialog-heading-id-4" class="slds-text-heading_small">Header Title</h2>
      </header>
      <div class="slds-popover__body" id="dialog-body-id-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="#" tabindex="-1">Read More</a></p>
      </div>
    </section>

    <hr>
    <h3 class="slds-text-heading--medium slds-m-bottom--x-small">Nubbin + Sliver</h3>
    <p>Uses a gradient to create the left nubbin blend effect with sliver</p>
    <br>
    <section class="slds-popover slds-nubbin_left popover-warning" role="dialog" aria-labelledby="dialog-heading-id-4" aria-describedby="dialog-body-id-4">
      <button class="slds-button slds-button_icon slds-button_icon-small slds-float_right slds-popover__close slds-button_icon" title="Close dialog">
        <svg class="slds-button__icon" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close" />
        </svg>
        <span class="slds-assistive-text">Close dialog</span>
      </button>
      <header class="slds-popover__header">
        <h2 id="dialog-heading-id-4" class="slds-text-heading_small">Please resolve errors</h2>
      </header>
      <div class="slds-popover__body" id="dialog-body-id-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="#" tabindex="-1">Read More</a></p>
      </div>
    </section>

    <hr>
    <h3 class="slds-text-heading--medium slds-m-bottom--x-small">Nubbin + Slive THick</h3>
    <p>Uses a gradient to create the left nubbin blend effect with sliver</p>
    <br>
    <section class="slds-popover slds-nubbin_left popover-warning-thick" role="dialog" aria-labelledby="dialog-heading-id-4" aria-describedby="dialog-body-id-4">
      <button class="slds-button slds-button_icon slds-button_icon-small slds-float_right slds-popover__close slds-button_icon" title="Close dialog">
        <svg class="slds-button__icon" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close" />
        </svg>
        <span class="slds-assistive-text">Close dialog</span>
      </button>
      <header class="slds-popover__header">
        <h2 id="dialog-heading-id-4" class="slds-text-heading_small">Please resolve errors</h2>
      </header>
      <div class="slds-popover__body" id="dialog-body-id-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="#" tabindex="-1">Read More</a></p>
      </div>
    </section>

    <hr>
    <h3 class="slds-text-heading--medium slds-m-bottom--x-small">Sliver Opposed</h3>
    <p>Thick inset shadow on same side as nubbin encompases full nubbin color</p>
    <br>
    <section class="slds-popover slds-nubbin_left popover-warning-opposed" role="dialog" aria-labelledby="dialog-heading-id-4" aria-describedby="dialog-body-id-4">
      <button class="slds-button slds-button_icon slds-button_icon-small slds-float_right slds-popover__close slds-button_icon" title="Close dialog">
        <svg class="slds-button__icon" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close" />
        </svg>
        <span class="slds-assistive-text">Close dialog</span>
      </button>
      <header class="slds-popover__header">
        <h2 id="dialog-heading-id-4" class="slds-text-heading_small">Please resolve errors</h2>
      </header>
      <div class="slds-popover__body" id="dialog-body-id-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="#" tabindex="-1">Read More</a></p>
      </div>
    </section>

    <hr>
    <h3 class="slds-text-heading--medium slds-m-bottom--x-small">With Header - Header Styled</h3>
    <p>Uses Standard SLDS tokens, needs no additional code for nubbins</p>
    <br>
    <section class="slds-popover slds-nubbin_left popover-warning-alt" role="dialog" aria-labelledby="dialog-heading-id-4" aria-describedby="dialog-body-id-4">
      <button class="slds-button slds-button_icon slds-button_icon-small slds-float_right slds-popover__close slds-button_icon" title="Close dialog">
        <svg class="slds-button__icon" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close" />
        </svg>
        <span class="slds-assistive-text">Close dialog</span>
      </button>
      <header class="slds-popover__header">
        <h2 id="dialog-heading-id-4" class="slds-text-heading_small">Please resolve errors</h2>
      </header>
      <div class="slds-popover__body" id="dialog-body-id-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="#" tabindex="-1">Read More</a></p>
      </div>
    </section>

    <hr>
    <h3 class="slds-text-heading--medium slds-m-bottom--x-small">With Header - Bordered</h3>
    <p>Uses Standard SLDS tokens, needs additional css to add border to nubbin</p>
    <br>
    <section class="slds-popover slds-nubbin_left popover-warning-bordered" role="dialog" aria-labelledby="dialog-heading-id-4" aria-describedby="dialog-body-id-4">
      <button class="slds-button slds-button_icon slds-button_icon-small slds-float_right slds-popover__close slds-button_icon" title="Close dialog">
        <svg class="slds-button__icon" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close" />
        </svg>
        <span class="slds-assistive-text">Close dialog</span>
      </button>
      <header class="slds-popover__header">
        <h2 id="dialog-heading-id-4" class="slds-text-heading_small">Please resolve errors</h2>
      </header>
      <div class="slds-popover__body" id="dialog-body-id-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="#" tabindex="-1">Read More</a></p>
      </div>
    </section>

  </div>
  <script src="/scripts/app.js"></script>
  <script src="/scripts/vendor/svg4everybody.min.js"></script>
  <script>svg4everybody();</script>
</body>
</html>
