<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Salesforce Lightning Design System Starter Kit</title>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <meta name="robots" content="noindex, nofollow" />

  <!-- Prototype styles -->
  <link rel="stylesheet" href="/styles/index.css" />
  <style>

  </style>
</head>
<body>
  <div class="slds-p-around--large slds-container--center slds-container--medium">
    <h1 class="slds-text-heading--large">SLDS Button Variants</h1>
    <br>
    <hr>
    <h1 class="slds-text-heading--medium">Outline Buttons</h1>
      <button class="slds-button slds-button_neutral" aria-live="assertive">Neutral</button>
      <button class="slds-button slds-button_outline-brand"aria-live="assertive">Brand Outline</button>
      <button class="slds-button slds-button_outline-desctuctive"aria-live="assertive">Desctuctive Outline</button>
      <button class="slds-button slds-button_outline-success"aria-live="assertive">Success Outline</button>
    <hr>
    <h1 class="slds-text-heading--medium">Fill Buttons</h1>
      <button class="slds-button slds-button_brand" aria-live="assertive">Brand</button>
      <button class="slds-button slds-button_success" aria-live="assertive">Success</button>
      <button class="slds-button slds-button_destructive" aria-live="assertive">Desctructive</button>

  </div>
  <script src="/scripts/app.js"></script>
  <script src="/scripts/svg4everybody.min.js"></script>
  <script>svg4everybody();</script>
  <script type="text/javascript">
    // let stateful = document.getElementsByClassName(')[0];
    // let text = stateful.firstElementChild;
    // stateful.addEventListener("click" , function(){
    //   this.classList.add("slds-button--success");
    //   setTimeout(function(){
    //     stateful.classList.add("done");
    //     console.log("done")
    //   },600)
    // });
  </script>
</body>
</html>
