{% extends "_template.html" %}
{% block content %}

<!--
  Boilerplate for the Dreamforce 2016 workshop:
  "Rapid prototyping with the Design System Starter Kit and UI Kit"
  http://sfdcworkshop.com/workshop/rapid-prototyping-with-slds/
-->


<!--
  Here's a nice Salesforce + (RED) banner image,
  but we're counting on your creativity to make this pop!
-->
<img src="https://kapost-files-prod.s3.amazonaws.com/uploads/direct/1473809705-153-5311/RED_image.png" alt="Salesforce + (RED)" class="slds-size--1-of-1" />

<!-- PAGE HEADER: https://www.lightningdesignsystem.com/components/page-headers/#flavor-record-home -->
<div class="slds-page-header" role="banner">
  <div class="slds-grid">
    <div class="slds-col slds-has-flexi-truncate">
      <div class="slds-media slds-no-space slds-grow">
        <div class="slds-media__figure">
          <svg aria-hidden="true" class="slds-icon slds-icon-standard-user">
            <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#user"></use>
          </svg>
        </div>
        <div class="slds-media__body">
          <p class="slds-text-title--caps slds-line-height--reset">Record Type</p>
          <h1 class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate" title="this should match the Record Title">Record Title</h1>
        </div>
      </div>
    </div>
    <div class="slds-col slds-no-flex slds-grid slds-align-top">
      <button class="slds-button slds-button--neutral slds-not-selected" aria-live="assertive">
        <span class="slds-text-not-selected">
          <svg aria-hidden="true" class="slds-button__icon--stateful slds-button__icon--left">
            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
          </svg>Follow</span>
        <span class="slds-text-selected">
          <svg aria-hidden="true" class="slds-button__icon--stateful slds-button__icon--left">
            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
          </svg>Following</span>
        <span class="slds-text-selected-focus">
          <svg aria-hidden="true" class="slds-button__icon--stateful slds-button__icon--left">
            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
          </svg>Unfollow</span>
      </button>
      <div class="slds-button-group" role="group">
        <button class="slds-button slds-button--neutral">Edit</button>
        <button class="slds-button slds-button--neutral">Delete</button>
        <button class="slds-button slds-button--neutral">Clone</button>
        <div class="slds-dropdown-trigger slds-dropdown-trigger--click slds-button--last" aria-expanded="false">
          <button class="slds-button slds-button--icon-border-filled" aria-haspopup="true">
            <svg aria-hidden="true" class="slds-button__icon">
              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
            </svg>
            <span class="slds-assistive-text">More Actions</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <ul class="slds-grid slds-page-header__detail-row">
    <li class="slds-page-header__detail-block">
      <p class="slds-text-title slds-truncate slds-m-bottom--xx-small" title="Field 1">Field 1</p>
      <p class="slds-text-body--regular slds-truncate" title="Description that demonstrates truncation with a long text field">Description that demonstrates truncation with a long text field.</p>
    </li>
    <li class="slds-page-header__detail-block">
      <p class="slds-text-title slds-truncate slds-m-bottom--xx-small" title="Field2 (3)">Field 2 (3)
        <button class="slds-button slds-button--icon" aria-haspopup="true">
          <svg aria-hidden="true" class="slds-button__icon slds-button__icon--small">
            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
          </svg>
          <span class="slds-assistive-text">More Actions</span>
        </button>
      </p>
      <p class="slds-text-body--regular">Multiple Values</p>
    </li>
    <li class="slds-page-header__detail-block">
      <p class="slds-text-title slds-truncate slds-m-bottom--xx-small" title="Field 3">Field 3</p><a href="javascript:void(0);">Hyperlink</a></li>
    <li class="slds-page-header__detail-block">
      <p class="slds-text-title slds-truncate slds-m-bottom--xx-small" title="Field 4">Field 4</p>
      <p>
        <span title="Description (2-line truncation—must use JS to truncate).">Description (2-line truncat...</span>
      </p>
    </li>
  </ul>
</div>
<!-- /PAGE HEADER -->


<!-- WIZARD: https://www.lightningdesignsystem.com/components/process/#flavor-wizard -->
<div class="slds-wizard slds-m-around--large" role="navigation">
  <ol class="slds-wizard__list">
    <li class="slds-wizard__item slds-is-active">
      <a href="javascript:void(0);" class="slds-wizard__link">
        <span class="slds-wizard__marker"></span>
        <span class="slds-wizard__label slds-text-title--caps slds-truncate">Navigation</span>
      </a>
    </li>
    <li class="slds-wizard__item slds-is-active">
      <a href="javascript:void(0);" class="slds-wizard__link">
        <span class="slds-wizard__marker"></span>
        <span class="slds-wizard__label slds-text-title--caps slds-truncate">Actions</span>
      </a>
    </li>
    <li class="slds-wizard__item slds-is-active">
      <a href="javascript:void(0);" class="slds-wizard__link">
        <span class="slds-wizard__marker"></span>
        <span class="slds-wizard__label slds-text-title--caps slds-truncate">Compact Layout</span>
      </a>
    </li>
    <li class="slds-wizard__item">
      <a href="javascript:void(0);" class="slds-wizard__link">
        <span class="slds-wizard__marker"></span>
        <span class="slds-wizard__label slds-text-title--caps slds-truncate">Review</span>
      </a>
    </li>
    <li class="slds-wizard__item">
      <a href="javascript:void(0);" class="slds-wizard__link">
        <span class="slds-wizard__marker"></span>
        <span class="slds-wizard__label slds-text-title--caps slds-truncate">Invite</span>
      </a>
    </li>
  </ol>
  <span class="slds-wizard__progress">
    <span class="slds-wizard__progress-bar" style="width:50%;"></span>
  </span>
</div>
<!-- /WIZARD -->

<!-- COLUMNS: https://www.lightningdesignsystem.com/components/utilities/grid/#flavor-manual-sizing -->
<div class="slds-grid">

  <!-- COLUMN #1 -->
  <div class="slds-col slds-size--3-of-4 slds-col--padded">

    <!-- TABS: https://www.lightningdesignsystem.com/components/tabs/#flavor-default -->
    <div class="slds-tabs--default">
      <ul class="slds-tabs--default__nav" role="tablist">
        <li class="slds-tabs--default__item slds-text-title--caps slds-active" title="Item One" role="presentation"><a class="slds-tabs--default__link" href="javascript:void(0);" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-default-1" id="tab-default-1__item">Item One</a></li>
        <li class="slds-tabs--default__item slds-text-title--caps" title="Item Two"
          role="presentation"><a class="slds-tabs--default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-2" id="tab-default-2__item">Item Two</a></li>
        <li class="slds-tabs--default__item slds-text-title--caps" title="Item Three"
          role="presentation"><a class="slds-tabs--default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-3" id="tab-default-3__item">Item Three</a></li>
      </ul>
      <div id="tab-default-1" class="slds-tabs--default__content slds-show" role="tabpanel" aria-labelledby="tab-default-1__item">Item One</div>
      <div id="tab-default-2" class="slds-tabs--default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-2__item">Item Two Content</div>
      <div id="tab-default-3" class="slds-tabs--default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-3__item">Item Three Content</div>
    </div>
    <!-- /TABS -->

    <!-- DESCRIPTION LIST: https://www.lightningdesignsystem.com/components/utilities/lists/#flavor-description-list -->
    <dl class="slds-dl--horizontal">
      <dt class="slds-dl--horizontal__label">First Label:</dt>
      <dd class="slds-dl--horizontal__detail">Description for first label</dd>
      <dt class="slds-dl--horizontal__label">Second Label:</dt>
      <dd class="slds-dl--horizontal__detail">Second description</dd>
    </dl>
    <!-- /DESCRIPTION LIST -->

  </div>
  <!-- /COLUMN #1 -->

  <!-- COLUMN #2 -->
  <div class="slds-col slds-size--1-of-4 slds-col--padded">

    <!-- NARROW CARD: https://www.lightningdesignsystem.com/components/cards/#flavor-related-list-narrow -->
    <article class="slds-card slds-card--narrow">
      <div class="slds-card__header slds-grid">
        <header class="slds-media slds-media--center slds-has-flexi-truncate">
          <div class="slds-media__figure">
            <svg aria-hidden="true" class="slds-icon slds-icon-standard-contact slds-icon--small">
              <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#contact"></use>
            </svg>
          </div>
          <div class="slds-media__body slds-truncate">
            <h2>
              <a href="javascript:void(0);" class="slds-text-link--reset">
                <span class="slds-text-heading--small">Contacts (3)</span>
              </a>
            </h2>
          </div>
        </header>
        <div class="slds-no-flex">
          <button class="slds-button slds-button--icon-border-filled slds-button--icon-x-small" aria-haspopup="true">
            <svg aria-hidden="true" class="slds-button__icon">
              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
            </svg>
            <span class="slds-assistive-text">More Options</span>
          </button>
        </div>
      </div>
      <div class="slds-card__body">
        <div class="slds-card__body--inner">
          <div class="slds-tile">
            <h3 class="slds-truncate" title="Related Record Title 1"><a href="javascript:void(0);">Related Record Title 1</a></h3>
            <div class="slds-tile__detail slds-text-body--small">
              <dl class="slds-dl--horizontal">
                <dt class="slds-dl--horizontal__label">
                  <span class="slds-truncate" title="Type">Type:</span>
                </dt>
                <dd class="slds-dl--horizontal__detail slds-tile__meta">
                  <span class="slds-truncate" title="Visit">Visit</span>
                </dd>
                <dt class="slds-dl--horizontal__label">
                  <span class="slds-truncate" title="Date">Date:</span>
                </dt>
                <dd class="slds-dl--horizontal__detail slds-tile__meta">
                  <span class="slds-truncate" title="1/31/15 3:45PM">1/31/15 3:45PM</span>
                </dd>
              </dl>
            </div>
          </div>
          <div class="slds-tile">
            <h3 class="slds-truncate" title="Related Record Title 2"><a href="javascript:void(0);">Related Record Title 2</a></h3>
            <div class="slds-tile__detail slds-text-body--small">
              <dl class="slds-dl--horizontal">
                <dt class="slds-dl--horizontal__label">
                  <span class="slds-truncate" title="Type">Type:</span>
                </dt>
                <dd class="slds-dl--horizontal__detail slds-tile__meta">
                  <span class="slds-truncate" title="Visit">Visit</span>
                </dd>
                <dt class="slds-dl--horizontal__label">
                  <span class="slds-truncate" title="Date">Date:</span>
                </dt>
                <dd class="slds-dl--horizontal__detail slds-tile__meta">
                  <span class="slds-truncate" title="1/31/15 3:45PM">1/31/15 3:45PM</span>
                </dd>
              </dl>
            </div>
          </div>
          <div class="slds-tile">
            <h3 class="slds-truncate" title="Related Record Title 3"><a href="javascript:void(0);">Related Record Title 3</a></h3>
            <div class="slds-tile__detail slds-text-body--small">
              <dl class="slds-dl--horizontal">
                <dt class="slds-dl--horizontal__label">
                  <span class="slds-truncate" title="Type">Type:</span>
                </dt>
                <dd class="slds-dl--horizontal__detail slds-tile__meta">
                  <span class="slds-truncate" title="Visit">Visit</span>
                </dd>
                <dt class="slds-dl--horizontal__label">
                  <span class="slds-truncate" title="Date">Date:</span>
                </dt>
                <dd class="slds-dl--horizontal__detail slds-tile__meta">
                  <span class="slds-truncate" title="1/31/15 3:45PM">1/31/15 3:45PM</span>
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
      <div class="slds-card__footer"><a href="javascript:void(0);">View All <span class="slds-assistive-text">entity type</span></a></div>
    </article>
    <!-- /NARROW CARD -->

  </div>
  <!-- /COLUMN #2 -->

</div>
<!-- /COLUMNS -->

{% endblock %}
